<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorator="delivery/layout">
<head>
<th:block th:fragment="header">
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="../../static/css/fontawesome-all.css"
		th:href="@{/css/fontawesome-all.css}">

	<link rel="stylesheet" href="../../static/css/style.css"
		th:href="@{/css/style.css}">
	

</th:block>
</head>
</html>

