<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorator="order/layout">

<body>
	<div th:fragment="common-scripts">
		<script src="../../static/scripts/jquery.min.js"
			th:src="@{/scripts/jquery.min.js}"></script>
		<script src="../../static/scripts/bootstrap.min.js"
			th:src="@{/scripts/bootstrap.min.js}"></script>
	
			<script src="../../static/scripts/jquery-ui.min.js"
			th:src="@{/scripts/jquery-ui.min.js}"></script>
		<script src="../../static/scripts/datepicker.js"
			th:src="@{/scripts/datepicker.js}"></script>
			

	</div>
</body>
</html>