<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorator="menu/layout">

<body>
	<div th:fragment="common-scripts">
		<script src="../../static/scripts/jquery.min.js"
			th:src="@{/scripts/jquery.min.js}"></script>
		<script src="../../static/scripts/bootstrap.min.js"
			th:src="@{/scripts/bootstrap.min.js}"></script>
			<script src="../../static/scripts/notsplcha.js"
			th:src="@{/scripts/notsplcha.js}"></script>
		
	</div>
</body>
</html>